body {
  font-size: 120%;
  font-family: Arial;
  background-color: #ececec;
}

button,
input {
  font-size: 100%;
  font-family: Arial;
  background-color: #d3d9d9;
}

table {
  width: 100%;
  background-color: #537953;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #92b592;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  max-width: 825px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 30px;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
